@model InventoryManagement.Models.ProductViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">
    <h2>Hospital Product Management</h2>
   <a class="btn btn-primary" href="#" onclick="AddNewProduct(0)">Add New Product</a><br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>ProductName</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>ProductExpDate</th>
                <th>Company Name</th>
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="SetProductList">
            <tr id="LoadingStatus" style="color:saddlebrown"></tr>
        </tbody>
    </table>
    <div id="partialDiv" style="display:none">
        @Html.Partial("_ProductDetails", Model)
    </div>
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            @Html.HiddenFor(p => p.ProductID, new { @id = "ProID" })
                            <div class="form-group">
                                @Html.TextBoxFor(p => p.ProductName, new { @id = "ProName", @class = "form-control", @placeholder = "Name**" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(p => p.Price, new { @id = "ProPrice", @class = "form-control", @placeholder = "Price**" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(p => p.Quantity, new { @id = "ProQuantity", @class = "form-control", @placeholder = "Quantity**" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(p => p.ProductExpDate, new { @id = "ProExpDate", @class = "form-control", @placeholder = "ProductExpDate**" })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(p => p.tSupplierID, ViewBag.ListOfSupplier as SelectList, "---Select Company---", new { @id = "DrpDown", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-info" id="SaveProductRecord">Save Producr</a>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete Product Record</h4>
                </div>
                <div class="modal-body">
                    <h4>Are You Sure You Want To Delete This Info</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#partialDiv").hide();
        $("#LoadingStatus").html("Loading......")
    $.get("/Product/GetProductList", null, DataBind);



    function DataBind(productList)
    {
        var setData = $("#SetProductList");
        for (var i = 0; i < productList.length; i++)
        {
            var data = "<tr class='row_" + productList[i].ProductID + "'>" +
                "<td>" + productList[i].ProductID + "</td>" +
                "<td>" + productList[i].ProductName + "</td>" +
                "<td>" + productList[i].Price + "</td>" +
                "<td>" + productList[i].Quantity + "</td>" +
                "<td>" + productList[i].ProductExpDate + "</td>" +
                "<td>" + productList[i].CompanyName + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='ProductDetailsRecord(" + productList[i].ProductID + ")'><span class='glyphicon glyphicon-record'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditProductRecord(" + productList[i].ProductID + ")'><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='DeleteProductRecord(" + productList[i].ProductID + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "</tr>";
            setData.append(data);
            $("#LoadingStatus").html("")
        }
    }

    function ProductDetailsRecord(ProductID) {
        var proID = ProductID;
        $.ajax({
            url: "/Product/GetDetailsProductRecord?ProductID=" + proID,
            type: 'Get',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("#partialDiv").show();
                $("#partialDiv").html(data);
            },
            error: function () {
                alert("error occoured");
            }
        });
        }

    function AddNewProduct(ProductID) {
        $("#form")[0].reset();
        $("#ProID").val(0);
        $("#DrpDown option:selected").text("---Select Company---")
        $("#ModalTitle").html("Add New Product");
        $("#MyModal").modal();
        }

     $("#SaveProductRecord").click(function () {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            url: "/Product/SaveDataInDatabase",
            type: "Post",
            data: data,
            success: function () {
                alert("Data Saved");
                window.location.href = "/Product/Index";
            },
            error: function () {
                alert("Error Occuerd");
            }
        })
     })


     function EditProductRecord(ProductID) {
        var url = "/Product/GetProducrById?ProductID=" + ProductID;
        $("#ModalTitle").html("Update Product Record");
        $("#MyModal").modal();
        $.ajax({
            url: url,
            type: "GET",
            success: function (data) {
                var obj = JSON.parse(data);
                $("#ProID").val(obj.ProductID);
                $("#ProName").val(obj.ProductName);
                $("#ProPrice").val(obj.Price);
                $("#ProQuantity").val(obj.Quantity);
                $("#ProExpDate").val(obj.ProductExpDate);
                $("#DrpDown option:selected").text(obj.Supplier.CompanyName);
                $("#DrpDown option:selected").val(obj.Supplier)
            },
            error: function () {
                alert("Error Occuerd");
            }
        })
    }
    var DeleteProductRecord = function (ProductID) {
        $("#ProID").val(ProductID);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var proIds = $("#ProID").val();
        $.ajax({
            url:"/Product/DeleteProductRecord?ProductID=" + proIds,
            success: function (result) {
                $("#DeleteConfirmation").modal("hide");
                 $(".row_" + proIds).remove();
            }           
        })
     }

</script>